@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #dddddd;
  color: #dddddd;
  font-family: "Playfair Display";
  width: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #505050;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffdd44;
  border-radius: 5px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

.menu-mobile {
  display: none;
}
#menu-desktop {
  background-color: #1b1b1be5;
  display: flex;
  padding: 0.4rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#menu-desktop a img {
  width: 6rem;
  margin: 1rem;
  margin-left: 8rem;
}

#menu-desktop ul {
  list-style: none;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 1rem;
}

#menu-desktop ul li {
  display: inline;
  margin: 1rem;
  border-bottom: 1px solid white transparent;
}

#menu-desktop ul li:hover {
  border-bottom: 1px solid #feea3b;
}

#menu-desktop ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

section {
  padding-top: 2rem;
  padding-right: 8rem;
  padding-left: 8rem;
}

#home {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(20, 18, 18, 0.877)
    ),
    url("../imgs/mulher-bg.png");
  width: 100%;
  padding-bottom: 8rem;
  padding-top: 11rem;
  background-repeat: no-repeat;
  background-size: auto;
}

#home h2 {
  color: #feea3b;
  display: flex;
  font-size: 4rem;
  width: 45rem;
  text-align: left;
  font-family: "Playfair Display";
  font-weight: 400;
  line-height: 3.9rem;
}

#home p {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 45rem;
  font-weight: 300;
}

#menu-mobile img {
  display: none;
}

.botao {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #0f0f0f;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #feea3b;
  width: 15rem;

  font-family: "Playfair", serif;
}

.botao:hover {
  transition: 0.4s;
  color: #feea3b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}

.servicos {
  text-align: center;
  align-items: center;
  color: rgb(20, 20, 20);
  background-color: rgb(219, 219, 219);
  padding: 6rem;
}

.servicos h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
  font-family: "Playfair Display";
  font-weight: 300;
}

.grup-cards {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../imgs/bg-card-img.jpg");
  background-size: cover;
  background-position: center;
}

.card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../imgs/bg-card-img-2.jpg");
  background-size: cover;
  background-position: center;
}

.card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../imgs/bg-card-img-3.jpg");
  background-size: cover;
  background-position: center;
}

.card-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../imgs/bg-card-img-4.jpg");
  background-size: cover;
  background-position: center;
}

.card-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../imgs/bg-card-img-4.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  width: 11.5rem;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden;
  color: #f1f1f1;
  margin: 0.6rem;
  border: 2px solid #feea3b00;

  cursor: pointer;

  transition: transform 0.3s;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 4rem;
}

.card p {
  width: 10rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8rem;
}

.card:hover {
  border: 2px solid #feea3b;
  transform: scale(1.05);
}

.depoimentos {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5rem;
  background-color: #171515;
}

.depoimentos h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  color: #feea3b;
}

.videos-depoimentos {
  align-content: center;
  background-color: #636363;
  width: 80%;
  height: 30rem;

  margin: 0 auto;
}

.sobre {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #171515;
  padding-bottom: 3rem;
}

.sobre h2 {
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  text-align: left;
  color: #feea3b;
}

.sobre p {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  width: 45rem;
  font-weight: 300;
}

.sobre > .botao {
  background-color: #202020;
  margin-bottom: 5rem;
}

.funciona {
  color: #171515;
  background-color: rgb(219, 219, 219);
  padding-bottom: 4rem;
  display: inline-flex;
  width: 100%;
}

.funciona h2 {
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  text-align: left;
}

.funciona p {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  width: 45rem;
  font-weight: 300;
}

.pagamento-mobile {
  display: none;
}

.pagamento {
  width: 10rem;
  margin-left: 7rem;
  justify-content: center;
  align-content: center;
}

.pagamento h2 {
  font-size: 2rem;
  width: 10rem;
}

.pagamento p {
  width: 10rem;
  font-size: 1.1rem;
}

.pagamento img {
  width: 3rem;
}

section-form {
  padding-top: 5rem;
  color: #dddddd;
}

.empresas {
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.empresas h2 {
  display: block;
  text-align: left;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-left: 4rem;

  margin-bottom: 0rem;
}

.carousel-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carousel {
  display: inline-flex;
  align-items: center;
  animation: carouselAnimation 100s linear infinite;
}
.carousel img {
  width: 8rem; /* Ajuste o tamanho das imagens conforme necessário */
  height: auto;
  margin: 2.5rem;
  object-fit: contain;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

form {
  color: #f5f5f5;
  width: 40rem;
  background-color: #272727;
  align-items: left;
  display: flex;
  flex-direction: column;

  text-align: left;
  padding: 2rem;

  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-bottom: 10rem;
}

form h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #feea3b;
  font-weight: 200;
  padding: 1rem;
}

form .botao {
  margin-top: 2rem;
  width: 7rem;
  text-align: center;
}

label {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0.8rem;
}

input {
  width: 36rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0.3rem;
}

.arquivos-input {
  color: #808080;
}

textarea {
  width: 36rem;
  height: 9rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.3rem;
}

.whats-icone {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 30rem;
  margin-left: calc(100% - 10rem);
  padding: 0.2rem;
  z-index: 9999;
}

.whats-icone img {
  width: 4.5rem;
  border-radius: 50%;
  box-shadow: 3px 3px 20px rgba(0, 214, 36, 0.952);
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 3px 3px 20px rgba(0, 214, 36, 0.753);
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: 3px 3px 20px rgba(0, 214, 36, 0.753);
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #9b9b9b;
  font-size: 0.9rem;
  background-color: #171515;
  padding: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer li {
  font-size: 0.9rem;
  margin-top: 0.4rem;
  color: #9b9b9b;
}

footer a {
  color: #9b9b9b;
}

footer div p {
  color: #f1f1f1;
}

footer img {
  width: 5rem;
  height: 2rem;
  margin: 1rem;
}

.social-icone {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

@media (max-width: 1150px) {
  .pagamento {
    display: none;
  }

  #home p {
    width: 35rem;
  }

  #home h2 {
    width: 35rem;
  }

  .sobre p {
    width: 35rem;
  }

  .funciona p {
    width: 35rem;
  }

  .whats-icone {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 30rem;
    margin-left: calc(100% - 10rem);
    padding: 0.2rem;
    z-index: 9999;
  }

  form {
    width: 35rem;
  }

  input {
    width: 30rem;
  }

  textarea {
    width: 30rem;
  }
}

@media (max-width: 1024px) {
  #menu-desktop ul {
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    margin-left: 2rem;
    width: 60rem;
  }
  #menu-desktop ul li {
    margin: 0.3rem;
  }

  #menu-desktop a img {
    margin-left: 1.5rem;
  }
}

@media (max-width: 768px) {
  .empresas {
    padding-bottom: 5rem;
    justify-content: collum;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: block;
    width: 30rem;
  }

  .empresas h2 {
    justify-content: center;
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  #menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: inline;
    z-index: 3 !important;
    background-color: #1b1b1be5;
  }

  .mobile-inline {
    display: inline-flex;
    background-color: #1b1b1be5;
  }

  .menu-mobile img {
    width: 10rem;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 52vw;
  }
  a {
    text-decoration: none;
    opacity: 1;
    font-family: "work sans", sans serif;
    font-size: 1.2em;
    font-weight: 400;
    transition: 200ms;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    background-color: #1b1b1be5;
    height: 120px;
  }

  .menu-mobile a {
    color: #feea3b;
  }
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 44px;
    left: 45px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.97, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.9, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #ffffff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 25rem;
    height: 80rem;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #1b1b1be5;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    font-size: 1.8rem;
    padding: 10px 0;
    margin-bottom: 25px;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  header {
    width: 100%;
    background-color: #1b1b1b;
    z-index: 9999;
  }

  #home h2 {
    margin-top: -6rem;
    margin-left: -4rem;
    font-size: 3.5rem;
    width: 25rem;
  }

  #home p {
    width: 25rem;
    margin-left: -4rem;
  }

  .sobre h2 {
    margin-left: -2rem;
  }

  .sobre p {
    width: 20rem;
    margin-left: -2rem;
  }

  .funciona h2 {
    margin-left: -2rem;
  }
  .funciona p {
    width: 20rem;
    margin-left: -2rem;
  }

  form {
    margin: 0 auto;
    margin-left: -2rem;
    width: 65vw;
  }

  input {
    width: 55vw;
  }

  textarea {
    width: 55vw;
  }

  .logo img {
    display: flex;
    width: 6rem;
    margin: 0rem;
    margin-top: -1rem;
    margin-left: 6rem;
  }

  .whats-icone {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 30rem;
    margin-left: calc(100% - 12rem);
  }

  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer div {
    margin: 1rem;
  }
}

@media (max-width: 425px) {
  header {
    width: 40rem;
    position: fixed;
  }
  .menu-mobile img {
    margin-left: 190%;
  }
  #home {
    z-index: 1;
    padding-top: 20rem;
    width: 40rem;
  }

  section {
    width: 40rem;
  }

  #home h2 {
    margin-top: -6rem;
    width: 25rem;
    margin-left: 0.5rem;
  }

  #home p {
    margin-top: 2rem;
    width: 19rem;
    margin-left: 0.5rem;
  }

  .sobre p {
    width: 30rem;
  }
  .sobre > .botao {
    margin-left: -2rem;
  }
  .funciona p {
    width: 30rem;
  }

  .botao {
    width: 10rem;
    margin-left: 0rem;
  }

  form {
    width: 30rem;
    margin-left: -3rem;
  }
  form > .botao {
    margin-left: 0rem;
  }
  textarea {
    width: 25rem;
  }
  input {
    width: 25rem;
  }

  .whats-icone {
    margin-top: 40rem;
    margin-left: calc(100% - 8rem);
  }

  .card {
    width: 25rem;
    height: 20rem;
  }

  .card h3 {
    font-size: 2rem;
  }

  .card p {
    font-size: 1.2rem;
    width: 15rem;
  }

  .pagamento-mobile {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
    background-color: #d3d3d3;
    padding: 2rem;
  }

  .pagamento-mobile h2 {
    color: #171515;
    font-size: 1.2rem;
    width: 8rem;
    margin-right: 2rem;
  }

  .pagamento-mobile img {
    width: 3rem;
    height: 3rem;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .empresas h2 {
    margin-left: -1rem;
  }
  .empresas {
    margin-left: 5rem;
  }

  footer {
    width: 40rem;
  }
  footer a {
    font-size: 1.5rem;
    margin-top: 0.4rem;
    color: #9b9b9b;
}
}
